.login-page {
  min-height: 80vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-container {
  display: flex;
  background: var(--bg-secondary);
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.login-left {
  flex: 1;
  background-image: linear-gradient(
      rgba(0, 151, 178, 0.4),
      rgba(2, 116, 142, 0.3)
    ),
    url("/src/assets/image.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  color: var(--bg-secondary);
}

.welcome-text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hello-badge {
  background: rgba(255, 255, 255, 0.9);
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-left h1,
.login-left h2 {
  margin: 0;
  font-size: 2.5rem;
  color: white;
  line-height: 1.2;
}

.login-left p {
  margin-top: 1rem;
  font-size: 1.1rem;
  opacity: 0.9;
}

.login-right {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.login-form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  font-family: var(--font-heading);
}

.subtitle {
  color: var(--text-secondary);
  margin-bottom: 2rem;
  font-family: var(--font-body);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--text-primary);
  font-family: var(--font-body);
}

.form-group input {
  width: 375px;
  max-width: inherit;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  background-color: rgba(0, 151, 178, 0.2);
  color: var(--text-primary);
}

.input.password {
  display: flex;
  align-items: center;
}

.input.password .toggle-password {
  width: 55px;
  height: 45px;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: var(--bg-secondary);
  color: var(--text-secondary);
  transition: all 0.2s;
}

.input.password .toggle-password:hover {
  background: var(--bg-primary);
  border-color: #ccc;
  color: #8c95a2;
}

.form-group input:focus {
  outline: none;
  /* border-color: var(--accent-color); */
  box-shadow: 0 0 0 1px rgba(0, 151, 178, 0.2);
  background-color: rgba(0, 151, 178, 0.1);
}

.form-group input::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

.form-group input:-webkit-autofill {
  background-color: rgba(0, 151, 178, 0.8) !important; /* Fond sombre */
  color: #ffffff !important; /* Texte en blanc */
  border: 2px solid #3498db !important; /* Bordure bleue */
  transition: background-color 0.3s ease-in-out;
}

/* Pour Firefox */
.form-group input::-moz-placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

/* Pour Chrome/Safari/Opera */
.form-group input::-webkit-input-placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

/* Pour IE/Edge */
.form-group input:-ms-input-placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

.forgot-password {
  display: block;
  text-align: right;
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-decoration: none;
  font-family: var(--font-body);
}

.forgot-password:hover {
  color: var(--accent-color);
}

.submit-button {
  width: 100%;
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  font-family: var(--font-body);
  font-weight: 500;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: var(--accent-hover);
}

.social-login {
  text-align: center;
  font-family: var(--font-body);
  justify-content: center;
}

.social-login p {
  color: var(--text-secondary);
  font-size: 0.8rem;
  position: relative;
  font-weight: 500;
  margin-bottom: 1rem;
}

.social-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-button {
  height: 55px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--text-secondary);
}

.social-button.facebook:hover {
  color: #1877f2; /* Bleu Facebook */
}

.social-button.google:hover {
  background: #db4437; /* Rouge Google */
  color: white;
}

.social-button.twitter:hover {
  color: #1da1f2; /* Bleu Twitter */
}

.social-button.apple:hover {
  color: #8c95a2; /* Gris Apple */
}

.social-button:hover {
  background: var(--bg-primary);
  border-color: #ccc;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    padding: 2rem;
    min-height: 300px;
  }

  .login-right {
    padding: 2rem;
  }
}
